{% extends 'layout.html' %} {% load static %}

<!-- css -->
{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}"/>
{% endblock %}

<!-- js -->
{% block js %}
    <script>
        $("button").on("click", function () {
            var idNumber = $(this).data("comment-id");
            if (
                $("#reply-id-" + idNumber)
                    .parent()
                    .children()
                    .last()[0].tagName !== "FORM"
            ) {
                $("#reply-id-" + idNumber)
                    .parent()
                    .append(
                        '<form method="POST" action="' + "{% url 'polls:comment' %}" + '">'
                        + '{% csrf_token %}'
                        + "{{ commentForm.contents.label }}<br />"
                        + '<textarea name="contents" cols="40" rows="10" required id="id_contents"></textarea>'
                        + '<input type="hidden" name="question_id" value="{{ question.id }}" />'
                        + '<input type="hidden" name="reply_to_id" value="' + idNumber + '">'
                        + '<button type="submit" class="save btn btn-default">Save</button>'
                        + "</form>"
                    );
                $("#reply-id-" + idNumber)
                    .parent()
                    .find("button")
                    .eq(0)
                    .remove();
            }
        });

        $(function () {
            let availableTags = {{ all_tags | safe }};
            $("#tags").autocomplete({
                source: availableTags
            });
        });
    </script>
{% endblock %}

<!-- contents -->
{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="uk-alert-success uk-width-large uk-align-center" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p class="uk-text-center">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    {% if add_book_form.errors %}
        {% for errors in add_book_form.errors.values %}
            {% for error in errors %}
                <div class="uk-alert-danger uk-align-center" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p class="uk-text-center">{{ error }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form action="{% url 'polls:add_tag' question.id %}" method="post">{% csrf_token %}
        {% for tag in question.tags.all %}
            <span class="tag">{{ tag.name }}
                <a href="{% url 'polls:delete_tag' question.id tag.id %}" uk-close></a></span>
        {% endfor %}
        <input id="tags" type="text" class="uk-input uk-form-small uk-form-width-small" name="tag_name" required>
        <button class="uk-button uk-button-default uk-button-small" type="submit">タグ追加</button>
    </form>

    <div class="uk-margin"></div>

    <article class="uk-comment">
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <a href="{% url 'mypage' question.user.username %}">
                    <img class="uk-comment-avatar uk-border-circle" src="{{ question.user.icon.url }}" width="80"
                         height="80" alt="">
                </a>
            </div>
            <div class="uk-width-expand">
                <h4 class="uk-heading-small">{{ question.title }}</h4>
                <p class="uk-text-meta">
                    <a href="{% url 'mypage' question.user.username %}">{{ question.user.username }}</a><br>
                    <time>{{ question.created_at | date:"Y-m-j H:i:s" }}</time>
                </p>
            </div>
        </header>
        <div class="uk-comment-body">
            <p class="uk-text-meta">理由</p>
            <p>{{ question.reason }}</p>
        </div>
    </article>

    <hr>

    <a class="uk-button uk-button-primary uk-button-large uk-align-center uk-width-1-3@s"
       href="#modal-recommend" uk-toggle>
        <i class="far fa-thumbs-up"></i> おすすめを投稿
    </a>

    {% if best_recommend %}
        <h1 class="uk-heading-bullet uk-text-center">👑 ベストおすすめ</h1>
        <div class="uk-width-1-3 uk-align-center">
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <a href="{% url 'mypage' best_recommend.user.username %}">
                                <img class="uk-border-circle" width="60" height="60"
                                     src="{{ best_recommend.user.icon.url }}" alt="">
                            </a>
                        </div>
                        <div class="uk-width-expand">
                            <p class="uk-card-title uk-margin-remove-bottom">
                                {{ best_recommend.name }}
                            </p>
                            <p class="uk-text-meta">
                                <a href="{% url 'mypage' best_recommend.user.username %}">{{ best_recommend.user.username }}</a><br>
                                <time>{{ best_recommend.created_at | date:"Y-m-j H:i:s" }}</time>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>{{ best_recommend.reason | linebreaksbr }}</p>
                    {% if best_recommend.image %}
                        <img src="{{ best_recommend.image.url }}" width="300" height="300"/>
                    {% endif %}
                    {% if best_recommend.link %}
                        <span uk-icon="link"></span>
                        <a class="uk-link" href="{{ best_recommend.link }}">{{ best_recommend.link }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}


    <h1 class="uk-heading-bullet uk-text-center">👍 おすすめリスト</h1>
    <div class="uk-flex uk-grid-large" uk-grid
         uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
        {% for recommend in recommends %}
            <div class="uk-width-1-3">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <a href="{% url 'mypage' recommend.user.username %}">
                                    <img class="uk-border-circle" width="60" height="60"
                                         src="{{ recommend.user.icon.url }}" alt="">
                                </a>
                            </div>
                            <div class="uk-width-expand">
                                <p class="uk-card-title uk-margin-remove-bottom">
                                    {{ recommend.name }}
                                </p>
                                <p class="uk-text-meta">
                                    <a href="{% url 'mypage' recommend.user.username %}">{{ recommend.user.username }}</a><br>
                                    <time>{{ recommend.created_at | date:"Y-m-j H:i:s" }}</time>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>{{ recommend.reason | linebreaksbr }}</p>
                        {% if recommend.image %}
                            <img src="{{ recommend.image.url }}" width="300" height="300"/>
                        {% endif %}
                        {% if recommend.link %}
                            <span uk-icon="link"></span>
                            <a class="uk-link" href="{{ recommend.link }}">{{ recommend.link }}</a>
                        {% endif %}
                    </div>
                    <div class="uk-card-footer">
                        {% if question.user == user %}
                            <form method="POST" action="{% url 'polls:set_best_recommend' question.id recommend.id %}">
                                {% csrf_token %}
                                <button type="submit" class="uk-button uk-button-default">ベストおすすめに選ぶ</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="modal-recommend" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">おすすめを投稿</h2>
            </div>

            <form
                    action="{% url 'polls:detail' question.id %}"
                    method="POST"
                    enctype="multipart/form-data"
            >
                {% csrf_token %}
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <div class="uk-text-meta">{{ recommend_form.name.label }}</div>
                        <div class="uk-inline">
                            {{ recommend_form.name }}
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-text-meta">{{ recommend_form.reason.label }}</div>
                        <div class="uk-inline">
                            {{ recommend_form.reason }}
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-text-meta">
                            {{ recommend_form.image.label }} (オプション)
                        </div>
                        <div class="uk-inline">
                            {{ recommend_form.image }}
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-text-meta">
                            {{ recommend_form.link.label }} (オプション)
                        </div>
                        <div class="uk-inline">
                            <a
                                    class="uk-form-icon uk-form-icon-flip"
                                    href="#"
                                    uk-icon="icon: link"
                            ></a>
                            {{ recommend_form.link }}
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button
                            class="uk-button uk-button-default uk-modal-close"
                            type="button"
                    >
                        キャンセル
                    </button>
                    <button class="uk-button uk-button-primary" type="submit">投稿</button>
                </div>
            </form>
        </div>
    </div>

    {% for comment in comments %}
        <article style="border: 1px solid grey; margin: 10px 0px;">
            <p>{{ comment.user.username }}</p>
            <p>{{ comment.contents }}</p>
            <button id="reply-id-{{ comment.id }}" data-comment-id="{{ comment.id }}">返信</button>
            <div style="margin-left: 30px;">
                {% for reply_comment in comment.comment_set.all %}
                    {{ reply_comment.user.username }}<br/>
                    {{ reply_comment.contents }}<br/><br/>
                {% endfor %}
            </div>
        </article>
    {% endfor %}
    <p class="uk-label uk-label-success"">コメント</p>
    <form method="POST" action="{% url 'polls:comment' %}">
        {% csrf_token %}
        {{ commentForm.contents.label }}<br/>
        {{ commentForm.contents }}
        <input type="hidden" name="question_id" value="{{ question.id }}"/>

        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}