<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>ミンナのススメ</title>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/vegas.min.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/top.css' %}" />
  </head>
  <body>
    <header>
      <div class="inner-layout-size">
        <div style="display: flex;">
          <div class="title">ミンナのススメ</div>
          <nav>
            <ul>
              <li class="nav-button button-color-1">登録</li>
              <li class="nav-button button-color-1">ログイン</li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="inner-layout-size top-image">
      <div id="mainvisual" class="img-size"></div>
      <span class="center-title">☆ミンナのススメ☆</span>
    </div>
    <main class="inner-layout-size column-2">
      <div class="left-column">
        <article>
          <h2>お勧めの銀行はどこですか？</h2>
          <p>
            ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行
          </p>
        </article>
        <article class="fadein">
          <h2>お勧めの銀行はどこですか？</h2>
          <p>
            ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行
          </p>
        </article>
        <article class="fadein">
          <h2>お勧めの銀行はどこですか？</h2>
          <p>
            ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行
          </p>
        </article>
        <article class="fadein">
          <h2>お勧めの銀行はどこですか？</h2>
          <p>
            ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行
          </p>
        </article>
        <article class="fadein">
          <h2>お勧めの銀行はどこですか？</h2>
          <p>
            ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行
          </p>
        </article>
        <article class="fadein">
          <h2>お勧めの銀行はどこですか？</h2>
          <p>
            ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行
          </p>
        </article>
        <article class="fadein">
          <h2>お勧めの銀行はどこですか？</h2>
          <p>
            ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行
          </p>
        </article>
        <article class="fadein">
          <h2>お勧めの銀行はどこですか？</h2>
          <p>
            ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行ゆうちょ銀行
          </p>
        </article>
      </div>
      <div>
        <div class="right-column">
          <section class="ranking">
            <h2>話題ランキング</h2>
            <ul>
              <li>・群馬の衆議院議員のオススメ</li>
              <li>・嫌いな人をかわすお勧めの方法</li>
              <li>・豚野郎にオススメのアニメ</li>
            </ul>
          </section>
          <section class="ranking fadein">
            <h2>話題ランキング</h2>
            <ul>
              <li>・群馬の衆議院議員のオススメ</li>
              <li>・嫌いな人をかわすお勧めの方法</li>
              <li>・豚野郎にオススメのアニメ</li>
            </ul>
          </section>
          <section class="ranking fadein">
            <h2>話題ランキング</h2>
            <ul>
              <li>・群馬の衆議院議員のオススメ</li>
              <li>・嫌いな人をかわすお勧めの方法</li>
              <li>・豚野郎にオススメのアニメ</li>
            </ul>
          </section>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'users/js/script.js' %}"></script>
    <script src="{% static 'users/js/vegas.min.js' %}"></script>
    <script>
      $("#mainvisual").vegas({
        slides: [
          { src: "{% static 'users/img/bg.png' %}" },
          { src: "{% static 'users/img/bg2.jpg' %}" },
          { src: "{% static 'users/img/bg3.jpg' %}" }
        ],
        delay: 2500,
        timer: false,
        transitionDuration: 1000
      });
    </script>
  </body>
</html>
