<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>ミンナのススメ</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vegas.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/top.css' %}"/>
    <!-- css include -->
    {% block css %} {% endblock %}
</head>

<body>
<!-- header -->
{% include 'header.html' %}

<!-- contents -->
{# 内容 #} {% block content %} {% endblock %}

<!-- footer -->
{% include 'footer.html' %}

<!-- javascript include -->
{% block js %} {% endblock %}

<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/boards.js' %}"></script>
<script src="{% static 'js/footerFixed.min.js' %}"></script>
</body>
</html>
