{% extends 'layout.html' %} {% load static %}

<!-- css -->
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}"/>
{% endblock %}


<!-- js -->
{% block js %}
    <script src="{% static 'js/script.js' %}"></script>
    <!-- <script src="{% static 'users/js/three.js' %}"></script> -->
    {% include './script/mypage.html' %}
{% endblock %}


<!-- contents -->
{% block content %}
    <div class="bg-main">
        <div class="inner-layout-size mypage-height">
            <div id="stage"></div>
        </div>
    </div>

    <div class="uk-flex uk-flex-center uk-grid-small uk-margin" uk-grid>

        <div class="uk-width-1-4 uk-margin">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="{{ myuser.icon.url }}" alt="">
                    </div>
                    <div class="uk-card-body">
                        {% if myuser.get_full_name %}
                            <p class="uk-text-lead">{{ myuser.get_full_name }}</p>
                        {% endif %}
                        <p class="uk-card-title">@{{ myuser.username }}</p>
                        <p class="uk-text-meta">プロフィール</p>
                        <p>{{ myuser.profile | linebreaksbr }}</p>
                        {% if user == myuser %}
                            <a class="uk-button uk-button-primary" href="{% url 'edit_profile' %}">プロフィール編集</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-3-4">

            <h1 class="uk-heading-bullet uk-text-center">投稿した質問</h1>
            {% for question in myuser.question_set.all %}
                <div class="uk-card uk-card-default uk-width-2-3@m uk-align-center">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title uk-margin-remove-bottom">
                            {{ question.title }}　
                            <a href="{% url 'questionEdit' question.id %}">[編集]</a>
                        </h3>
                    </div>
                    <div class="uk-card-body">
                        <p>{{ question.reason }}</p>
                    </div>
                </div>
            {% endfor %}

            <h1 class="uk-heading-bullet uk-text-center">投稿したおすすめ</h1>
            {% for recommend in myuser.recommend_set.all %}
                <div class="uk-card uk-card-default uk-width-2-3@m uk-align-center">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title uk-margin-remove-bottom">
                            {{ recommend.name }}
                            <a href="{% url 'recommendEdit' recommend.id %}">[編集]</a>
                        </h3>
                    </div>
                    <div class="uk-card-body">
                        <p>{{ recommend.reason | linebreaksbr }}</p>
                        {% if recommend.image %}
                            <img src="{{ recommend.image.url }}" width="300" height="300">
                        {% endif %}
                    </div>
                    {% if recommend.link %}
                        <p class="uk-link">{{ recommend.link }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}


