{% extends 'layout.html' %} {% load static %}

<!-- css -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}"/>
{% endblock %}

<!-- js -->
{% block js %}
<script src="{% static 'js/script.js' %}"></script>
<!-- <script src="{% static 'users/js/three.js' %}"></script> -->
{% include './script/mypage.html' %}
{% endblock %}


<!-- contents -->
{% block content %}
<h1>Sign up</h1>
<section class="common-form">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit">Sign up</button>
    </form>
</section>
{% endblock %}